streamlit==1.59.2
langchain==0.3.27
langgraph==0.6.6
langchain-community==0.3.27
langchain-groq==0.3.7
langchain-huggingface==0.3.1
faiss-cpu==1.14.3
sentence-transformers==5.1.0
pypdf==5.9.0
python-dotenv==1.1.1
sqlalchemy==2.0.43
duckduckgo-search==8.1.1
pandas==2.3.2
reportlab==4.4.3
plotly